*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 600px;
    /* background-color: blue; */
}

h1{
margin-bottom: 10px;    text-align: center;
}
.main-card {
    width: 90%;
    margin: auto;
    position: absolute;
    top: 25%;
    left: 5%;

    margin: auto;
}
.card {
    width: 25%;
    text-align: center;
    float: left;
}
.card h4 {
font-size: 1.2em;
padding: 20px 0;
margin:  20px 0;
}

.card img:hover {
    width: 90% ;
    /* border: #fff solid 2px; */
    border-radius: 5px;
}
/* .card img :hover {
    width: 100%;
} */
.card img {
    width: 80% ;
    /* border: #fff solid 2px; */
    border-radius: 5px;
}
.clr
{
    clear: both;
}